.content{
    background-color: #ffffff;
    margin: 0;
    height: min-content;
    padding: 30px;
    text-decoration: none;
    color: black;
    float: left;
    flex: auto;
    transition: all .5;
    font-family: 'Times New Roman', Times, serif,'宋体';
    margin-bottom:20px ;
}
.content >a{
    color: black;
    font-size: 20px;
}
.setrow{
    margin: 10px;
}
.masking{
    background: #ffffff;
}
.contentimg{
    opacity: 100%;
    transition: opacity .2s;
}
.contentimg:hover{
    opacity: 60%;
}
@media screen and (max-width: 400px){
    .content{
        padding: 15px;
    }
}
