.gtitle{
    text-align: center;
    color: wheat;
    font-size: 70px;
    padding: 50px;
    text-shadow: 0 0 20px rgb(245, 236, 220);
    font-weight: 100;
    padding-bottom: 0;
}
body{
    background-color: black;
    background-image: radial-gradient(ellipse at center top, rgba(32,74,135,0.8) 20%, rgba(0,0,0,0) 100%);
    background-repeat: no-repeat;
    min-height: 1080px;
    scrollbar-width: 2px;
}
.projectrow{
    margin: 60px;
}
.project-gorgeouskpy{
    border-radius: 10px;
    background-image: linear-gradient(0deg,rgba(209, 209, 209, 0.945),rgba(238, 238, 238, 0.904));
}
.proimg{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
}
.project-gorgeouskpy > span{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.project-gorgeouskpy > h5{
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}
.dsdf{
    background-color: darkblue;
}
